.main {
    /* border: 1px solid red; */
    padding: 0 5rem;
}

.section-selection {
    display: flex;
    gap: 35px;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--line-highlight);
}

.section-item {
    cursor: pointer;
    font-weight: 500;
    color: var(--text-color);
}

.section-item:hover {
    color: var(--hover-color);
}

.search {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result h1 {
    color: var(--title-color);
}

.search-result button {
    margin-top: 30px;
}