.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--primary-color);
    width: 800px;
    height: 60px;
}

.select-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}